<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="stylesheet" href="../stylesheets/library/sweetalert2.min.css">
  </head>
  <body>
    <title><%= title %></title>
    <h1 id="title"><%= title %></h1>
    <textarea name="body" id="body" placeholder="body"><%= body %></textarea>
    <input type="button" id="save" class="button" value="保存">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/library/sweetalert2.min.js"></script>
    <script type="text/javascript" src="../javascripts/memoselect.js"></script>
  </body>
</html>
